@model IEnumerable<MovieBooking.Models.Movie>

<div class="row mt-4">
    @foreach (var movie in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="movie-card">
                <img src="~/images/@movie.PosterUrl"
                     class="img-fluid movie-poster w-100"
                     style="img-fluid rounded-3 shadow-lg" style="max-height: 700px; width: 50%; object-fit: cover;"
                     alt="Movie Poster">

                <div class="p-3">
                    <h5 class="movie-title">@movie.Title</h5>

                    <div class="price mb-2">
                        <i class="fas fa-tag"></i>
                        <span class="ms-1">$@movie.Price</span>
                    </div>

                    <p class="movie-genre">@movie.Genre</p>

                    <p class="tickets-available">
                        Coming Soon
                    </p>

                    <button class="btn btn-secondary" disabled>
                        Book Soon
                    </button>
                </div>
            </div>
        </div>
    }
</div>
